.navbar{
    margin-bottom: 20px;
}


.account-summary{
 text-align: left; 
 margin-bottom: 20px;

}


.follower-suggestions{
    padding: 10px;
    background-color: #ccc;
    border: 1px solid #ddd;
    border-radius: 6px;
}